{% extends "base.html" %}
{% block content %}
{% if user.get_profile.image %}
<img src="{{ MEDIA_URL }}{{ user.get_profile.image }}">
{% endif %}
<div class="row">
<div class="span10">
<h3>
{% with user.get_full_name as fullname %}
{% if fullname %} 
{{ fullname|escape }}
({% endif %}{{ user.username|escape }}{% if fullname %}){% endif %}
{% endwith %}
</h3>
{% with user.get_profile as profile %}
<h4>About Me</h4>
<p>{{ profile.bio|escape }}</p>
<p>Interests: {{ profile.interests.all|join:', '|escape }}</p>
{% endwith %}
<a href="{% url profile_edit %}">Edit your profile</a>
</div>
<div class="span6">
{% if user.get_profile.skills.all %}
<h3>Skills</h3>
<ul>
    {% for skill in user.get_profile.skills.all %}
    <li>{{ skill.title|escape }}</li>
    {% endfor %}
    <li style="list-style-type: none;"><a href="{% url skill_list %}">Add more skills</a></li>
</ul>
{% endif %}
{% if user.organizations.all %}
<h3>Organizations</h3>
<ul>
    {% for org in user.organizations.all %}
    <li><a href="{% url organization_detail org.id %}">{{ org.name|escape }}</a></li>
    {% endfor %}
</ul>
{% endif %}
</div>
</div>
{% endblock content %}
